:root {  
    --text-color1: #f3f3f3;    
    --text-color2: #b8bbc5;
    --card-color: #070d12;
    --bg-tab-color: #262626;
    
    --primary-color: #e126d9;
    --secundary-color: #02d08f;

    --scrollbar-color1: #e228d8;
    --scrollbar-color2: #070d12;    
}